<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="bg-slate-900 text-white">
    <%- include('./partials/navbar') %>
<h1> welcome to url shortner</h1>
<form action="/shorturl" method="post" class="flex items-center">
    <input type="text" name="url" placeholder="http://example.abc" class="px-4 py-2 border border-gray-300 rounded-l-md text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded-r-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent td-button h-50">ShortUrl</button>
  </form>
  


<table>
    <tr class="border-bottom-2 border-white"><th>SNo</th>
        <th>link</th>
        <th>button</th>
    </tr>
<%=  %>
<% if (locals.link) { %>
<tr><td>1</td>
  
    <td><%= link %></td>
    <td><button onclick="copyToClipboard('<%= link %>')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full mx-3">copy</button></td>
</tr>

 <h2>link -- </h2>
<% } %>
</table>
<%- include('./partials/table') %>
<style>
    .td-button {
  background: linear-gradient(to bottom, #1e5799 0%, #207cca 100%);
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.td-button:hover {
  background: linear-gradient(to bottom, #1a478c 0%, #1e5799 100%);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px) scale(1.02);
}



</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  function copyToClipboard(link) {
    let host=document.location.origin
    navigator.clipboard.writeText(host+"/"+link)

  

  Toastify({
  text: "link is copied successfully",
  duration: 3000,
  // destination: "https://github.com/apvarun/toastify-js",
  // newWindow: true,
  close: true,
  gravity: "top", // `top` or `bottom`
  position: "center", // `left`, `center` or `right`
  stopOnFocus: true, // Prevents dismissing of toast on hover
  style: {
    background: "linear-gradient(to right, #06ff06, green)",
    
  },
  offset: {
    x: 50, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
    y: 10 // vertical axis - can be a number or a string indicating unity. eg: '2em'
  },
  onClick: function(){} // Callback after click
}).showToast()
  }
</script>
</body>
</html>